Repository didx-xyz/acapy-cloud, pull requests merged in 2025-05, with the labels that each got.

#1515 :construction_worker: :wrench: Sync dependabot schedules
  .github/dependabot.yml
Labels: dependencies, github_actions

#1521 :rewind: Revert Python 3.13 upgrade
  .github/workflows/format.yml
  .github/workflows/sonarcloud.yml
  .mise.toml
  .pylintrc
  README.md
  dockerfiles/app/Dockerfile
  dockerfiles/endorser/Dockerfile
  dockerfiles/tests/Dockerfile
  dockerfiles/trustregistry/Dockerfile
  dockerfiles/waypoint/Dockerfile
  poetry.lock
  pyproject.toml
Labels: dependencies, python

#1534 :bug: :construction_worker: Fix DevOps Bot Git Identity
  .github/workflows/update-openapi.yml
Labels: github_actions

#1533 :boom: Drop Indy credential type
  app/models/issuer.py
  app/routes/issuer.py
  app/services/issuer/acapy_issuer.py
  app/services/issuer/acapy_issuer_v2.py
  app/tests/models/test_issuer.py
  app/tests/routes/issuer/test_create_offer.py
  app/tests/routes/issuer/test_request_credential.py
  app/tests/routes/issuer/test_send_credential.py
  app/tests/services/issuer/test_acapy_issuer_v2.py
  app/tests/services/issuer/test_issuer.py
  app/tests/test_util_wallet_type_checks.py
  app/util/valid_issuer.py
  app/util/wallet_type_checks.py
  docs/openapi/tenant-admin-openapi.json
  docs/openapi/tenant-admin-openapi.yaml
  docs/openapi/tenant-openapi.json
  docs/openapi/tenant-openapi.yaml
  poetry.lock
  pyproject.toml
  shared/models/credential_exchange.py
  shared/tests/models/test_credential_exchange.py
Labels: refactor

#1532 :building_construction: Refactor EKS GitHub Actions workflows
  .github/dependabot.yml
  .github/workflows/actions/connect-eks/action.yml
  .github/workflows/actions/deploy-eks/action.yml
  .github/workflows/actions/test-eks/action.yml
  .github/workflows/cicd.yml
  .github/workflows/deploy-test-eks.yml
  .github/workflows/local-tests.yml
  .github/workflows/notify.yml
Labels: github_actions, refactor

#1546 :memo: Update CICD flow chart
  .github/workflows/README.md
Labels: documentation

#1561 :recycle: :test_tube: Refactor connection fixtures
  app/tests/fixtures/member_connections.py
  app/tests/util/connections.py
Labels: refactor, tests

#1575 :construction_worker: Scale down Github Runner in Local Tests
  .github/workflows/cicd.yml
  .github/workflows/deploy-test-eks.yml
  .github/workflows/local-tests.yml
  .mise.toml
  .mise/tasks/kind/install/nginx
  helm/acapy-cloud.yaml.gotmpl
  helm/acapy-cloud/conf/postgres.yaml
  helm/nats/Chart.lock
  tilt/acapy-cloud/Tiltfile
  tilt/metrics/Tiltfile
Labels: github_actions

#1580 :arrow_up: Bump `didx-xyz/workflows/connect-eks`
  .github/workflows/deploy-test-eks.yml
Labels: dependencies, github_actions

#1581 :test_tube: Test concurrent issuance of revocable creds
  app/tests/e2e/issuer/test_concurrent_issuance_revocation.py
  dockerfiles/agents/Dockerfile
Labels: bug, tests

#1537 :fire: Remove handling of Indy definitions
  app/routes/definitions.py
  app/routes/issuer.py
  app/routes/jsonld.py
  app/routes/revocation.py
  app/routes/wallet/dids.py
  app/services/acapy_ledger.py
  app/services/definitions/credential_definition_publisher.py
  app/services/definitions/credential_definitions.py
  app/services/definitions/schema_publisher.py
  app/services/definitions/schemas.py
  app/services/revocation_registry.py
  app/tests/e2e/test_definitions.py
  app/tests/e2e/test_revocation.py
  app/tests/routes/definitions/test_get_credential_definition_by_id.py
  app/tests/routes/definitions/test_get_schema_by_id.py
  app/tests/routes/issuer/test_create_offer.py
  app/tests/routes/issuer/test_send_credential.py
  app/tests/routes/revocation/test_clear_pending_revocations.py
  app/tests/routes/revocation/test_fix_revocation_registry.py
  app/tests/routes/revocation/test_get_credential_revocation_record.py
  app/tests/routes/revocation/test_get_pending_revocations.py
  app/tests/services/definitions/credential_definition/test_create_cred_def.py
  app/tests/services/definitions/credential_definition/test_get_cred_def.py
  app/tests/services/definitions/credential_definitions_publisher/test_publisher.py
  app/tests/services/definitions/schema_publisher/test_schema_publisher.py
  app/tests/services/definitions/schemas/test_get_schemas_as_governance.py
  app/tests/services/definitions/schemas/test_get_schemas_as_tenant.py
  app/tests/services/definitions/schemas/test_get_schemas_by_id.py
  app/tests/services/issuer/test_issuer.py
  app/tests/services/test_acapy_ledger.py
  app/tests/services/test_revocation_registry.py
  app/tests/test_util_definitions.py
  app/tests/test_util_wallet_type_checks.py
  app/util/definitions.py
  app/util/valid_issuer.py
  app/util/wallet_type_checks.py
  helm/acapy-cloud/conf/dev/did-resolver.yaml
Labels: refactor
