Repository didx-xyz/acapy-cloud, pull requests merged in 2025-04, with the labels that each got.

#1443 :test_tube: Migrate e2e tests from indy to anoncreds
  app/tests/e2e/issuer/test_save_exchange_record.py
  app/tests/e2e/test_did_exchange.py
  app/tests/e2e/test_did_rotate.py
  app/tests/e2e/test_jsonld.py
  app/tests/e2e/test_oob.py
  app/tests/e2e/test_proof_request_models.py
  app/tests/e2e/test_wallet_credentials.py
  docs/src/examples/7. Verify Credential.md
  docs/src/examples/Self-Attested Attributes/1. Self-Attested Attributes.md
Labels: tests

#1445 ✅ Restriction on proof
  app/tests/e2e/verifier/anoncreds/test_verifier.py
Labels: tests

#1458 :arrow_up: Bump dependencies
  app/poetry.lock
  app/pyproject.toml
  endorser/poetry.lock
  endorser/pyproject.toml
  trustregistry/poetry.lock
  trustregistry/pyproject.toml
  waypoint/poetry.lock
  waypoint/pyproject.toml
Labels: dependencies

#1444 :bug: Fix AnonCreds publish all pending revocations
  app/tests/e2e/test_revocation.py
  dockerfiles/agents/Dockerfile
Labels: bug, tests

#1463 📝 e2e test docs
  app/tests/e2e/README.md
  app/tests/e2e/docs/connections.md
  app/tests/e2e/docs/issuer.md
  app/tests/e2e/docs/miscellaneous.md
  app/tests/e2e/docs/oob_message_json_ld.md
  app/tests/e2e/docs/regression.md
  app/tests/e2e/docs/revocation.md
  app/tests/e2e/docs/schema_definitions.md
  app/tests/e2e/docs/tenant.md
  app/tests/e2e/docs/trust_registry.md
  app/tests/e2e/docs/verifier.md
  app/tests/e2e/docs/wallet.md
Labels: documentation, tests

#1470 :construction_worker: Move Composite Actions under workflows
  .github/workflows/actions/deploy-eks/action.yml
  .github/workflows/actions/test-eks/action.yml
  .github/workflows/cicd.yml
Labels: github_actions

#1482 :construction_worker: Add k6 Dockerfile to Dependabot
  .github/dependabot.yml
Labels: dependencies, docker

#1494 :construction_worker: Dependabot split Python and Golang Dockerfiles
  .github/dependabot.yml
Labels: dependencies, docker
